<div class="text-center">
	<%= link_to "<i class='glyphicon glyphicon-plus white-icon'></i>
              New Contact".html_safe,
              new_contact_path,
              :class => 'btn btn-success',
              :type => 'button'
  %>
</div>

<div class="col-md-offset-1">
	<ul>
		<li><b>First Name</b>: <%= @contact.first_name %></li>
		<li><b>Surname</b>: <%= @contact.surname %></li>
		<li><b>Address</b>: <%= @contact.address %></li>
		<li><b>Phone Number</b>: <%= @contact.phone_number %></li>
		<li><b>E-mail</b>: <%= @contact.email %></li>
	</ul>
	<div class ="buttons col-md-offset-1">
		<%= link_to "<i class='glyphicon glyphicon-wrench white-icon'></i>
              Edit Contact".html_safe,
              edit_contact_path(@contact),
              :class => 'btn btn-info',
              :type => 'button',
  	%>
    <%= link_to "<i class='glyphicon glyphicon-trash white-icon'></i> Delete Contact".html_safe,
              contact_path(@contact),
              :class => 'btn btn-danger',
              :type => 'submit',
              :method => :delete,
    %>
  </div>
</br>
</div>